@page "/samurai/add"
@inject IUnitOfwork unitofwork
@inject NavigationManager Navmanager
<h1>Create</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind= "@samurais.Name"/>
                
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateSamurayi" value="Save"/>
                <input type="button" class="btn btn-primary" @onclick="@cancel" value="Cancel"/>
                @*<label for ="Name" class="control-label">Name</label>
                <input  for="Name " class="form-control"/>*@
            </div>
        </form>
    </div>
</div>

@code {
    Samurai samurais = new Samurai();


    public async void CreateSamurayi()
    {

        unitofwork.AddSamurai(samurais);
        
        this.StateHasChanged();

        Navmanager.NavigateTo("samurai");
        

       
    }
    void cancel ()
    {
        Navmanager.NavigateTo("samurai");
    }
    

}
