@page "/BattelData"

<PageTitle>BattelData</PageTitle>

<h3>BattelDataAnalysis</h3>

 <select>
     <option>Samurayi </option>
     <option>Horses</option>
     <option>Battel</option>
      <option>Weapons</option>

 </select>
@code {

}
