<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorBattelDataGUI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samurai">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Samurayi
            </NavLink>
        </div
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="horses">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Horses
            </NavLink>
        </div
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="battels">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Battels
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weapons">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Weapons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="musems">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Musems 
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
