@page "/musems/delete/{id}"
@inject IUnitOfwork unitofwork
@inject NavigationManager Navmanager

<h1>Delete battels</h1>
<hr/>
<form>
    <div class="row">
    <div class="col-md-4">
        <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind="@museum.Name"  />
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary"  @onclick="@DeleteMusems" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@cancel" value ="Cancel" />
            </div>






    </div>
    </div>

</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Museum museum=new Museum();
    List<Museum> museums = new List<Museum>();

    protected async void DeleteMusems()
    {
        museum.ID = Convert.ToInt32(Id);
        unitofwork.RemoveMusems(museum);
        Navmanager.NavigateTo("/musems");


    }
    public void cancel()
    {
        Navmanager.NavigateTo("/musems");
    }

}